@model ConvenientStore.Areas.Admin.Models.ChangePassword
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đổi mật khẩu";
}
<style>
    .text-danger {
        color: #e74a3b !important;
    }

    a.text-danger:hover, a.text-danger:focus {
        color: #be2617 !important;
    }
</style>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<body>
    <!--banner-->
    <div class="banner-top">
        <div class="container">
            <h3>Đổi mật khẩu</h3>
            <h4><a href="#">Trang chủ</a><label>/</label>Đổi mật khẩu</h4>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--login-->
    <div class="login">
        <div class="main-agileits" id="login">
            <div class="form-w3agile">
                <h3>Đổi mật khẩu</h3>
                @{ Html.BeginForm("ChangePassword", "Login", FormMethod.Post);}
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.userName)
                @Html.LabelFor(model => model.userName)
                <div class="key">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    @Html.TextBoxFor(model => model.userName, new { disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                    <div class="clearfix"></div>
                </div>
                @Html.LabelFor(model => model.passWord)
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    @Html.PasswordFor(model => model.passWord, new { placeholder = "Mật khẩu" })
                    @Html.ValidationMessageFor(model => model.passWord, "", new { @class = "text-danger" })
                    <div class="clearfix"></div>
                </div>
                @Html.LabelFor(model => model.confirmPassWord)
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    @Html.PasswordFor(model => model.confirmPassWord, new { placeholder = "Nhập lại mật khẩu" })
                    @Html.ValidationMessageFor(model => model.confirmPassWord, "", new { @class = "text-danger" })
                    <div class="clearfix"></div>
                </div>
                @Html.LabelFor(model => model.securityCode)
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    @Html.TextBoxFor(model => model.securityCode, new { placeholder = "Mã bảo mật" })
                    @Html.ValidationMessageFor(model => model.securityCode, "", new { @class = "text-danger" })
                    <div class="clearfix"></div>
                </div>
                @if (ViewBag.ThongBao != null)
                {
                    <p style="color:red; text-align:center; margin-bottom:20px;">@ViewBag.ThongBao</p>
                }
                <input type="submit" value="Đổi mật khẩu" class="center-block">
                @*</form>*@
                @{ Html.EndForm();}
            </div>
        </div>
    </div>
</body>
@*<script>
    window.onload = function () {
        $("#login").hide();
    };
</script>
<script>
    $("#button").off('click').on('click', function (e) {
        var str = "null";
        if ($("#codeholder").val() == "") {
            alert("Vui lòng điền mã xác nhận");
        }
        else if ($('#code').val() == str) {
            alert("Mã xác nhận hết hạn, hãy gửi lại ");
            $("#login").hide();
        }
        else if ($("#codeholder").val() == $('#code').val()) {
            $("#login").show();
        }
        else {
            alert('Mã xác nhận sai');
            $("#login").hide();
        }
    });
</script>*@